/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: whitesmoke;
  height: 100%;
}

.card {
  padding: 1%;
}
