<?xml version="1.0" encoding="UTF-8"?>

<!--
    The beans.xml (default name; not required to be called this) is the registry file which contains our
    bean definitions that will tell Spring what classes we want it to manage for us.
    
    Spring Beans are objects that are managed by the Spring IoC container
 -->
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">
		
		
		<!-- Here we'll declare our objects (BaseballCoach) and how to construct on
		(by injecting a MotivationService Object) -->
		<bean>   </bean>
		
						
						
						
</beans>