<?xml version="1.0" encoding="UTF-8"?>

<!--
	Application Context definition document
    The beans.xml (default name; not required to be called this) is the registry file which contains our
    bean definitions that will tell Spring what classes we want it to manage for us.
    
    Spring Beans are objects that are managed by the Spring IoC container
 -->
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">
		
		
		<!-- Here we'll declare our objects (BaseballCoach) and how to construct on
		(by injecting a MotivationService Object) -->
		<bean id="myCoach" class="com.revature.models.BaseballCoach" scope="prototype">  
	<!--  The non-singleton, prototype scope of bean deployment results 
    in the creation of a new bean instance every time a request for that 
    specific bean is made  https://blog.marcnuri.com/spring-bean-scopes-guide-to-understand-the-different-bean-scopes -->
				<!-- CONSTRUCTOR BASED DEPENDENCY INJECTION -->
				<constructor-arg ref="myMotivationService" />
				
		 </bean>
						
		<!-- The default scope is SINGLETON -->
		<bean id="myMotivationService" class="com.revature.services.MotivationService"></bean>
						
		<bean id="myFootballCoach" class="com.revature.models.FootballCoach" init-method="customInit" destroy-method="customDestroy">
		
			<!--  Setter based dependency injection -->
			<property name="motivationService" ref="myMotivationService"/>
			
			<!--  field/property value injection -->
			<property name="teamName" value="The Jets"/>
			<property name="email" value="${coach.email}"/>
			
		</bean>
		
<!-- 		org.springframework.context.support.PropertySourcesPlaceholderConfigurer#0 -->
		<context:property-placeholder location="app.properties"/>
						
</beans>






