<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>hello-servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!--  This is the Deployment Descriptor - it's read by Tomcat to understand
  how and where resources (Servlets) can be accessed -->
  
  
  <!--  Here we are declaring what servlet is available at  -->
  <servlet>
  	<servlet-name>DirServ</servlet-name>
  	<servlet-class>com.revature.directservlet.DirectServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DirServ</servlet-name>
  	<url-pattern>/dirserv</url-pattern> <!-- http://localhost:8080/hello-servlets/dirserv -->
  </servlet-mapping>
  
  
</web-app>