<div>

    <div>
      <h2 class="card-header text-center">Welcome!</h2>
    </div>

    <div class="card-body">

      <img src={{image}} alt="Network" class="mx-auto d-block">

      <div class="list-group">

        <button type="button" class="btn btn-secondary btn-lg btn-block">View All Users</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Register a New User</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Find Users</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Remove Users</button>

      </div>
    </div>
</div>
